body {
  background-color: #11e299;
}

canvas{
  background-color:#66ff66;
}
#score{
  position: absolute;
  top:45%;
  left: 12%;
  z-index: 100;
  border:none;
  font-size:120%;

}
#life{
  position: absolute;
  top:45%;
  left: 75%;
  z-index: 100;
  border:none;
  font-size:120%;
}
div{
  padding: 9px;
  margin:4px;
  border: 2px ridge #112299;
}
section{
  padding: 9px;
  margin:4px;
  border: 2px ridge #112299;
}
section section{
  border: none;
}
.menuTitle{
  text-align: center;
  color:#e23411;
  font-family:Geneva;
  font-size:1.5em;
}
h1{
  text-align: center;
  color:#e23411;
  font-family:Geneva;
  font-size:3.5em;
  text-shadow: 3px 2px #000000;
  font-style:italic;
}
h3{
  text-align: center;
  color:#e33422;
  font-family:Geneva;
  font-size:1.5em;
  text-shadow: 1px 0.5px #000000;
}
section p{
  color:black;
  font-size:0.5em;
}
#lema{
  text-align: center;
  letter-spacing: 20px;
  font-family:Geneva;
}

#menu{
  border:none;
  display:none;
  font-size:0.9em;
}
.ocultx{
  border:none;
  display:none;
}
.visiblx{
  display:block;
  padding: 9px;
  margin:4px;
  border: 2px ridge #112299;
}
#menu li{
  display: inline;
  list-style-type: none;
  position: relative;
}
li a {
  background-color: #228;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7em;
  margin: 4px 2px;
}
a{
  text-decoration: none;
}
.link:hover,.button:hover{
  background-color: #8ee;
  color: #228;
  font-style:italic;
  text-transform: uppercase;
}
.title{
  font-family:Geneva;
  font-size:1.5em;
}
